[Unit]
Description=awww Wallpaper Daemon
After=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/awww-daemon
Restart=on-failure
RestartSec=1
StartLimitBurst=10
StartLimitIntervalSec=30

[Install]
WantedBy=default.target
