[Unit]
Description=Wallpaper Rotation Service
After=awww-daemon.service
Requires=awww-daemon.service

[Service]
Type=oneshot
ExecStart=%h/.local/bin/random-wall
